.add-location {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1.6rem;

    h2 {
        margin-bottom: 0;
        background: whitesmoke;
        padding: 1rem;
        display: flex;
        justify-content: center;
        font-weight: 400;
    }

    .form-item {
        margin: 1rem 0;
    }

    .add-location-form {
        height: 90vh;
        display: flex;
        flex-direction: column;
        

        .fcd {
            display: flex;
            flex-direction: column;
        }
    }

    button {
        margin: 0.5rem 0;
    }
}